[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
click = "*"
gunicorn = "*"
SQLAlchemy = "*"
"psycopg2-binary" = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pytest = "*"
rope = "*"
typeshed = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
